html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'noticia text', sans-serif;
  height: 100%;
  color:black;
  font-weight: 300;
  margin-top: 0px;
  padding: 0;
  margin-bottom: 50px;
  background-image: linear-gradient(#F7F0D4, #BAD6CF);
}

main {
  padding: 20px;
  margin: auto;
  min-height: 100%;
  /* margin-top: 60px;
  margin-bottom: 60px; */
  display: flex;
  flex: 1 1 auto;
}
#homepage-pic {
  max-width: 90%;
  height: auto;
  margin: 30px 0;
  padding: 0;
}

/* NAVIGATION BAR */
.navbar-brand {
  font-weight: bold;
  font-size: 32px;
  color: #4D4D4D;
  padding: 0;
}

header {
  margin-bottom: 50px;
}

.navbar {
  background-color: transparent;
  color: #4D4D4D;
  padding: 0;
}

.navbar-nav {
  padding: 0 10px;
}

.nav-link {
  color: #4D4D4D;
}

.nav-item {
  padding: 0 5px;
}

#navbar-search-button {
  color: #4D4D4D;
}

.homepage-greetings {
  font-family: "noticia text", serif;
  color: #4D4D4D;
}

#profile {
  padding: 20px;
  margin: 20px;
  align-items: center;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Set the fixed height of the footer here */
  background-color: #006C6D;
  margin-top: 50px;
  align-items: center;
}

.footer-info {
  margin: 5px 10px;
  padding: 0 5px;
}

.footer-label {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin: 0;
}

.fas, fa, fab {
  padding: 0 10px 0 0px;
  margin: 0;
  color: white;
}

#phone-number, #email-address {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 14px;
}

.social-media-icons a {
  color: white;
  padding: 0 10px 0 0;
}

/* ====== RESUME CSS ====== */
.section-title {
  font-weight: bold;
  font-size: 24px;
}

.job-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
/* ====== RESUME CSS ======  */

/* ====== CONTACT CSS ====== */
#contact-panel {
 padding: 40px;
}
/* ====== CONTACT CSS ======  */

@media (max-width: 770px) {
  main {
    margin-bottom: 200px;
  }
}